# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# build files
dist/
build/

# uploads
uploads/

# cache
.cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# temp
tmp/
temp/